header {
    z-index: 1;
    width: 100%;
}

body,
header {
    font-family: $fuente-principal;
    background-color: $color-primario;
    color: $color-secundario;

}

.navbar-brand,
.navbar-toggler .fondo-nav .card {
    background-color: $color-primario;
}

h1,
h2 {
    text-align: center;
}

h1,
h3 {
    font-size: $fuente-grande;
}

h2,
h3,
a,
.nav-link {
    color: $color-secundario;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

.navbar-brand {
    width: $logo-grande;
}

.navbar-toggler {
    border-color: $color-secundario;
}

.navbar-toggler-icon {
    background: url('https://api.iconify.design/mdi/hamburger-menu.svg?color=white') no-repeat center center / contain;
}

.navbar-nav {
    font-size: $fuente-mediana;
}

.footer-enlinea {
    @include grid-footer;
}

.video-tamaño {
    width: 100%;
    height: 315px;
}

img, iframe {
    max-width: 100%;
}